.rcw-widget-container {
  bottom: 0;
  right: 0;
  position: fixed;
}

.rcw-conversation-container {
  color: #000000;
}

.rcw-send-button {
  background-color: #66CC8A;
}

.rcw-message-text {
  color: #000000;
  background-color: #66CC8A !important;
}

.rcw-title {
  color: #000000;
  background-color: #66CC8A;
}

.rcw-header {
  background-color: #66CC8A !important;
}

.rcw-response {
  background-color: #66CC8A;
}

.rcw-launcher {
  display: flex;
  background-color: #66CC8A !important;
  justify-content: center !important;
  align-items: center !important;
}
